.textStyleKeys {
    color: rgb(152, 8, 8);
    font-size: large;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

.textStyleVals {
    color: aqua;
    font-size: large;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    // justify-content: center;
    // align-items: center;
    column-gap: 2rem;
}

.positionAbs   {
    position: absolute;
}

.max-w {
    max-width: 32rem;
}