.textStyleKeys {
    color: rgb(152, 8, 8);
    font-size: large;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    // opacity: 1;
}

.textStyleVals {
    color: aqua;
    font-size: large;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    // opacity: 1;
}

.flex {
    display: flex;
    column-gap: 2rem;
}

.positionAbs   {
    position: absolute;
}

.max-w {
    max-width: fit-content;
}

.bg-opacity {
    background-color: rgba(0,0,0,.5);
}