@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url(./assets/fonts/quantico/Quantico-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Star";
    src: local("Star"), url(./assets/titleFont/starduster3/stardusterexpand2.ttf) format("truetype");
}

// Global styles 
body {
    background-image: url("./assets/bg/starwars_bg.jpg");
}

// Layout
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


// Spacing
.p-2 {
    padding: 0.5rem; /* 8px */
}