<!-- Section for planets. -->
<section class="p-2 flex twinkling">
    <!-- First block -->
    <div class="p-2 bg-img0 flex-item-size" *ngFor="let keys of planets">
        <!-- <app-planet-list (click)="toggle0()" planetName={{planet0}}></app-planet-list> -->
        <app-planet-detail @fadeIn @fadeOut [planetKeys]="planetKeysArr0" [planetVals]="planetValsArr0"></app-planet-detail>
    </div>
<!-- 
    <div class="p-2 bg-img1 flex-item-size">
        <app-planet-list (click)="toggle1()" planetName={{planet1}}></app-planet-list>
        <app-planet-detail *ngIf="show1" @fadeIn @fadeOut [planetKeys]="planetKeysArr1" [planetVals]="planetValsArr1"></app-planet-detail>
    </div>

    <div class="p-2 bg-img2 flex-item-size">
        <app-planet-list (click)="toggle2()" planetName={{planet2}}></app-planet-list>
        <app-planet-detail *ngIf="show2" @fadeIn @fadeOut [planetKeys]="planetKeysArr2" [planetVals]="planetValsArr2"></app-planet-detail>
    </div>

    <div class="p-2 bg-img3 flex-item-size">
        <app-planet-list (click)="toggle3()" planetName={{planet3}}></app-planet-list>
        <app-planet-detail *ngIf="show3" @fadeIn @fadeOut [planetKeys]="planetKeysArr3" [planetVals]="planetValsArr3"></app-planet-detail>
    </div>
    
    <div class="p-2 bg-img4 flex-item-size">
        <app-planet-list (click)="toggle4()" planetName={{planet4}}></app-planet-list>
        <app-planet-detail *ngIf="show4" @fadeIn @fadeOut [planetKeys]="planetKeysArr4" [planetVals]="planetValsArr4"></app-planet-detail>
    </div>

    <div class="p-2 bg-img5 flex-item-size">
        <app-planet-list (click)="toggle5()" planetName={{planet5}}></app-planet-list>
        <app-planet-detail *ngIf="show5" @fadeIn @fadeOut [planetKeys]="planetKeysArr5" [planetVals]="planetValsArr5"></app-planet-detail>
    </div>

    <div class="p-2 bg-img6 flex-item-size">
        <app-planet-list (click)="toggle6()" planetName={{planet6}}></app-planet-list>
        <app-planet-detail *ngIf="show6" @fadeIn @fadeOut [planetKeys]="planetKeysArr6" [planetVals]="planetValsArr6"></app-planet-detail>
    </div>

    <div class="p-2 bg-img7 flex-item-size">
        <app-planet-list (click)="toggle7()" planetName={{planet7}}></app-planet-list>
        <app-planet-detail *ngIf="show7" @fadeIn @fadeOut [planetKeys]="planetKeysArr7" [planetVals]="planetValsArr7"></app-planet-detail>
    </div>

    <div class="p-2 bg-img8 flex-item-size">
        <app-planet-list (click)="toggle8()" planetName={{planet8}}></app-planet-list>
        <app-planet-detail *ngIf="show8" @fadeIn @fadeOut [planetKeys]="planetKeysArr8" [planetVals]="planetValsArr8"></app-planet-detail>
    </div>

    <div class="p-2 bg-img9 flex-item-size">
        <app-planet-list (click)="toggle9()" planetName={{planet9}}></app-planet-list>
        <app-planet-detail *ngIf="show9" @fadeIn @fadeOut [planetKeys]="planetKeysArr9" [planetVals]="planetValsArr9"></app-planet-detail>
    </div> -->
</section>