.titleFont {
    font-size: 300%;
    font-family: "Star";
    color: rgb(243, 243, 10);
    margin-bottom: 5rem;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10rem;    
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-size  {
    height: 40rem;
    width: 40rem;
}
// Set a media query here if we want to create a responsive page.

// Start of planet images
.bg-img0 {
    background: url("/assets/planetsImg/Alderaan.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-img1 {
    background: url("/assets/planetsImg/Bespin.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bg-img2 {
    background: url("/assets/planetsImg/Coruscant.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-img3 {
    background: url("/assets/planetsImg/Dagobah.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bg-img4 {
    background: url("/assets/planetsImg/Endor.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bg-img5 {
    background: url("/assets/planetsImg/Hoth.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bg-img6 {
    background: url("/assets/planetsImg/Kamino.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bg-img7 {
    background: url("/assets/planetsImg/Naboo.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bg-img8 {
    background: url("/assets/planetsImg/Tatooine.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.bg-img9 {
    background: url("/assets/planetsImg/Yavin-4.png");
    background-repeat: no-repeat;
    background-size: contain;

}