<h1>Star Wars Planets</h1>

<!-- I found out I was doing interpolation wrong for maps, and this is why I started to use arrays
    I may go back and fiddle with using maps instead since right now it's kind of ugly. -->

<!-- One thing of info -->
<app-planet-list class="textStyle" planetName={{planet0}}></app-planet-list>
<app-planet-detail [planetKeys]="planetKeysArr0" [planetVals]="planetValsArr0"></app-planet-detail>

<!-- One thing of info -->
<app-planet-list class="textStyle" planetName={{planet1}}></app-planet-list>
<app-planet-detail [planetKeys]="planetKeysArr1" [planetVals]="planetValsArr1"></app-planet-detail>

<!-- <app-planet-detail></app-planet-detail> -->