.titleFont {
    font-size: 300%;
    font-family: "Star";
    color: rgb(243, 243, 10);
    margin-bottom: 5rem;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10rem;    
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}